<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<h3><%= @user.bio %></h3>
<br>
<p><strong>Instruments I play:</strong></p>

<ul>
  <% @instruments.each do |instrument| %>
    <li><%= Instrument.find(instrument.instrument_id).description %> <%= Instrument.find(instrument.instrument_id).name %> - <%= instrument.level %></li>
  <% end %>
</ul>
