<div class="container">
  <div id="back-button-display">
    <%= link_to "Back", root_path, class: "glyphicon glyphicon-star" %>
  </div>
</div>

<div class="container">
  <h5 id="profile-title-display">Profile</h5>
</div>

<div class="container card-container">
  <div class="row">
    <div class="user_pic">
      <div class="col-3">
        <%= cl_image_tag @user.photo.key, height: 400, width: 400, crop: :fill, class: "avatar-large" %>
        <h3 id="user-name-one-line"><strong><%= @user.first_name %> <%= @user.last_name %></strong></h3>
      </div>
    </div>
    <div class="col-9">
      <div class="bio-display">
        <h4>About me</h4>
        <p><%= @user.bio %></p>
        <p>Born in Seattle, Washington, Hendrix began playing guitar at age 15. In 1961, he enlisted in the US Army and trained as a paratrooper in the 101st Airborne Division, but he was discharged the following year. He moved to Clarksville, Tennessee soon after and began playing gigs on the Chitlin' Circuit, earning a place in the Isley Brothers' backing band and later with Little Richard, with whom he continued to work through mid-1965. He played with Curtis Knight and the Squires before moving to England in late 1966 after being discovered by Linda Keith, who interested bassist Chas Chandler of the Animals in becoming his first manager.[2] Within months, Hendrix earned three UK top ten hits with the Jimi Hendrix Experience: "Hey Joe", "Purple Haze", and "The Wind Cries Mary".</p>
        <br>
        <ul class="inline-list d-flex justify-content-between" style="padding: 0;">
          <% @user.user_instruments.first(3).each do |user_instrument| %>
            <li>
              <h6>
              <%= user_instrument.instrument.name %> - <%= user_instrument.level %>
              </h6>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container card-container">
  <h5>Reviews</h5>
</div>

<br>

<div class="container card-container">
  <h5>Past Jam Sessions</h5>
</div>
