<div class="container remove-padding">
  <% if @user != current_user %>
  <div id="back-button-display">
    <%= link_to "", "javascript:history.back(-1)", class: "fas fa-arrow-left text-decoration-none text-black-50 view overlay" %>
  </div>
  <div class="mb-4">

  </div>
  <% else %>
    <div class="mt-5"></div>
    <div class="inline-list d-flex justify-content-start pb-4">
      <!-- <h5 class="no-btn">Profile</h5> -->
      <div class="space-between"></div>
      <h5><%= link_to "Dashboard", dashboards_path(current_user), class: "btn-dashboard" %></h5>
    </div>
  <% end %>
</div>



<div class="container card-container">
  <div class="row">

      <div class="col-lg-3 col-sm-12 mt-4 mb-4 text-center">
        <%= render "shared/user_avatar", user: @user, width: 200, height: 200, css_class: 'avatar-large' %>
        <h4 class="text-nowrap nowrap">
          <%= @user.first_name %> <%= @user.last_name %>
        </h4>
      </div>

    <div class="col-lg-8 col-sm-12">
      <div class="bio-display">
        <h4 id="about-me-color">About me</h4>
        <p><%= @user.bio %></p>
        <br>
        <ul class="inline-list d-flex justify-content-between remove-padding">
          <% @user.user_instruments.first(3).each do |user_instrument| %>
            <li>
              <h6>
                <%= cl_image_tag user_instrument.instrument.photo.key, class: "icon" %> - <%= user_instrument.level %>
                <% user_instrument.instrument.name %>
              </h6>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<br>

<%= render "user_reviews" %>

<br>

<%= render "user_dashboard" %>

<br>
<br>
