<div class="container">
  <% if @user != current_user %>
  <div id="back-button-display">
    <%= link_to "", jam_sessions_path, class: "fas fa-arrow-left text-decoration-none text-black-50 view overlay" %>
  </div>
  <% else %>
    <div class="mt-5"></div>
  <% end %>
</div>

<div class="container inline-list d-flex justify-content-start pl-4 pb-4">
  <h5 class="no-btn">Profile</h5>
  <div class="space-between"></div>
  <h5><%= link_to "Dashboard", dashboards_path(current_user), class: "btn-dashboard" %></h5>
</div>

<div class="container card-container">
  <div class="row">

      <div class="col-lg-3 col-sm-12 mt-4 mb-4 text-center">
        <%= cl_image_tag @user.photo.key, height: 400, width: 400, crop: :fill, class: "avatar-large" %>
        <h4 class="text-nowrap"><%= @user.first_name %> <%= @user.last_name %></h4>
      </div>

    <div class="col-lg-8 col-sm-12">
      <div class="bio-display">
        <h4 id="about-me-color">About me</h4>
        <p><%= @user.bio %></p>
        <br>
        <ul class="inline-list d-flex justify-content-between" style="padding: 0;">
          <% @user.user_instruments.first(3).each do |user_instrument| %>
            <li>
              <h6>
                <%= cl_image_tag user_instrument.instrument.photo.key, class: "icon" %> - <%= user_instrument.level %>
                <% user_instrument.instrument.name %>
              </h6>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<br>

<!--
<div class="container card-container">
  <h5>Reviews</h5>
</div>

<br>
-->


<div class="container card-container">
  <h5 id="past-jam-title-color"><strong>Past Jam Sessions</strong></h5>
    <div class="passed-jams">
      <% if @past_jam_sessions.count != 0 %>
        <% @past_jam_sessions.first(3).each do |jam_session| %>
        <% spot = Spot.find_by(jam_session_id: jam_session.id) %>
          <div class="passed-jams-cards">
            <div class="row">


              <div class="col-8">
                <h6><%= jam_session.title %> - <%= jam_session.genre %> - <%= cl_image_tag spot.instrument.photo.key, class: "icon" %></h6>

                <div class="row">
                  <div class="col-4">
                    <p class="subtitle text-secondary"><span class="fas fa-map-marker-alt mr-2"></span><%= jam_session.location %></p>
                  </div>
                  <div class="col-4">
                    <p class="subtitle text-secondary"><i class="far fa-calendar-alt mr-2"></i><%= jam_session.starts_at.strftime("%b %C")%></p>
                  </div>
                </div>

                <p><%= jam_session.description %></p>

              </div>

              <!-- avatar and instrument icon -->
              <div class="col-3 border-left">
                <!-- @instruments.each do cl_image_tag -->
                  <!--  cl_image_tag @guitar.photo.key, height: 300, width: 50, crop: :fill  -->
                <div class="row">
                  <% jam_session.spots.first(4).each do |spot| %>
                    <% instrument = Instrument.find(spot.instrument_id) %>
                    <% participation = Participation.find_by(spot_id: spot.id) %>
                    <% if participation %>
                    <% user = User.find(participation.user_id) %>

                      <div class="col-6 d-flex justify-content-center">
                        <%= link_to profile_path(user) do %>
                        <%= cl_image_tag participation.user.photo.key, width: 40, height: 40, crop: :fill, class: "rounded-circle" %>
                        <% end %>
                      </div>
                      <div class="col-6 d-flex justify-content-center">
                        <%= cl_image_tag instrument.photo.key, width: 50 %>
                      </div>

                    <% else %>
                    <% end %>
                  <% end %>
                  <!--  cl_image_tag @guitar.photo.key, height: 300, width: 50, crop: :fill  -->
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div id="no-jam-alignement">
          <p><strong> No Jam Sessions yet </strong></p>
        </div>
      <% end %>
    </div>
</div>
<br>
<br>
