<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-8">
      <div class="p-4 shadow border-yellow">
      <h3 class="font-weight-bold"><%= @jam_session.title %></h3>
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-start">
          <span class="fas fa-map-marker-alt mr-2 mt-1 yellow"></span>
          <span>
            <%= @jam_session.location %>
          </span>
        </div>

      <% if @jam_session.user == current_user %>
        <%= link_to "Add spot", new_jam_session_spot_path(@jam_session, @spot) %>
      <% end %>

        <div class="text-center">
          <span class="far fa-calendar-alt mr-2 yellow"></span>
          <span><%= @jam_session.starts_at.strftime('%d %B') %></span>
        </div>
        <div>
          <span class="far fa-clock mr-2 yellow"></span>
          <%= @jam_session.starts_at.strftime('%H:%M') %> -
          <%= @jam_session.ends_at.strftime('%H:%M') %>
        </div>
      </div>
      <br>
      <h5>Description</h5>
      <div class="py-2 light-grey">
        <%= @jam_session.description %>
      </div>
      <br>
      <div class="d-flex card-session-show">
        <p class="bold-grey">
        Participants
        </p>

        <% @jam_session.spots.each do |spot|%>
          <div id="spot_<%= spot.id %>">
             <%= render 'participations/participation_row', spot: spot %>
         </div>
        <% end %>
      </div>
      <br>
      <div class="d-flex card-session-show">
         <p class="bold-grey">Available Instruments</p>
        <% @jam_session.spots.each do |spot|%>
             <%= image_tag spot.instrument.icon, width: 50, height: 50, crop: :fill, class: "rounded-circle"  %>
        <% end %>
      </div>

      <% unless @jam_session.user_in_jam_session?(current_user) %>
        <p><a class="btn btn-primary btn-sm searchbtn mt-4" href="#join-session">Join</a></p>
      <% end %>

       <div id="map" style="width: 100%;
          height: 280px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>

    <%= render 'shared/chat-messages' %>
  </div>
</div>


<div class="popup" id="join-session">
  <div class="popup-content d-flex h-100 justify-content-center align-items-center">
    <div class="card bg-white p-5 shadow" style="">
      <p class="text-right"><a href="#">Close</a></p>
      <h2>Join this session</h2>

      <% if @jam_session.available_spots.any? %>
        <p class="p1 text-center">These are the available spots</p>
      <% elsif @jam_session.user_in_jam_session?(current_user) %>
        <p class="p1 text-center">You are already in! 🥳</p>
      <% else %>
        <p class="p1 text-center">There are no available spots anymore 😕</p>
      <% end %>

      <div class="d-flex justify-content-around mt-3">
        <% @jam_session.available_spots.each do |spot|%>
          <%= link_to participations_path(spot_id: spot, user_id: current_user), method: :post, class: 'join-session-icon' do %>
            <%= image_tag spot.instrument.icon, width: 80, height: 80, crop: :fill, class: "rounded-circle border shadow p-3"  %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
