<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-8">
      <div class="p-4 shadow border-yellow">
      <h3 class="font-weight-bold"><%= @jam_session.title %></h3>
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-start">
          <span class="fas fa-map-marker-alt mr-2 mt-1 yellow"></span>
          <span>
            <%= @jam_session.location %>
          </span>
        </div>
        <div class="text-center">
          <span class="far fa-calendar-alt mr-2 yellow"></span>
          <span><%= @jam_session.starts_at.strftime('%d %B') %></span>
        </div>
        <div>
          <span class="far fa-clock mr-2 yellow"></span>
          <%= @jam_session.starts_at.strftime('%H:%M') %> -
          <%= @jam_session.ends_at.strftime('%H:%M') %>
        </div>
      </div>
      <br>
      <h5>Description</h5>
      <div class="py-2 light-grey">
        <%= @jam_session.description %>
      </div>
      <br>
      <div class="d-flex card-session-show">
        <p class="bold-grey">
        Participants
        </p>
        <% @jam_session.spots.each do |spot|%>
            <div id="spot_<%= spot.id %>">
               <%= render 'participations/participation_row', spot: spot %>
               </div>
        <% end %>
      </div>
      <br>
      <div class="d-flex card-session-show">
         <p class="bold-grey">Available Instruments</p>
        <% @jam_session.spots.each do |spot|%>
             <%= cl_image_tag spot.instrument.photo.key, width: 50, height: 50, crop: :fill, class: "rounded-circle"  %>
        <% end %>
      </div>
      <p class="btn btn-primary btn-sm searchbtn mt-4">Join</p>
       <div id="map" style="width: 100%;
            height: 280px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
      </div>
    </div>

    <%= render 'shared/chat-messages' %>
  </div>
</div>
