<div class="row">
  <% @jam_sessions.each do |jam_session| %>
    <div class="col-md-6 col-xs-12 mb-4">
      <div class="background-w h-100">

        <!-- text information on card -->
        <div class="row h-100">
          <div class="col-8">
            <div class="h-100">
              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <h5 class="light"><%= jam_session.title %></h5>
                  <p class="subtitle text-secondary mb-1"><span class="fas fa-map-marker-alt mr-2"></span><%= jam_session.location %></p>
                  <p class="subtitle text-secondary"><i class="far fa-calendar-alt mr-2"></i><%= jam_session.starts_at.strftime("%b %d")%> <!-- - <%#= jam_session.ends_at.strftime("%I:%M %p") %> --> </p>

                  <p><%= truncate(jam_session.description, length: 48) %></p>
                </div>
                <div>
                  <%= link_to "See more", jam_session_path(jam_session), class: "btn-sm hot-pink" %>
                </div>
              </div>
            </div>
          </div>

          <!-- avatar and instrument icon -->
          <div class="col-4 border-left">
            <!-- @instruments.each do cl_image_tag -->
            <div class="row">
              <% jam_session.spots.first(4).each do |spot| %>
                <% instrument = Instrument.find(spot.instrument_id) %>
                <div class="col-6">
                  <!-- <img src="https://via.placeholder.com/40x40" class="rounded-circle"> -->
                  <% participation = Participation.find_by(spot_id: spot.id) %>
                  <% if participation %>
                  <% user = User.find(participation.user_id) %>
                  <%= cl_image_tag participation.user.photo.key, width: 40, height: 40, crop: :fill, class: "rounded-circle" %>
                  <% else %>
                  <!-- put avatar-unknown here -->
                  <% end %>
                </div>
                <div class="col-6 pl-1 mb-1">
                  <%= cl_image_tag instrument.photo.key, width: 40 %>
                </div>
              <% end %>
              <!--  cl_image_tag @guitar.photo.key, height: 300, width: 50, crop: :fill  -->
            </div>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- .strftime("%a, %b %C, %I:%M %p") -->
