<%= simple_form_for :jam_session, url: jam_sessions_path, method: :get do |f| %>
  <%= f.input :instrument_id, collection: Instrument.all, required: false %>
  <%= f.input :location, required: false %>
  <%= f.input :genre, required: false %>

  <div class="row">
    <div class="col-12 mb-2">
      When are you available?
    </div>
    <div class="col-md-6 col-sm-12">
      <%= f.input :starts_at, required: false, input_html: {class: "TimePicker"}, :label => false, :placeholder => 'from' %>
    </div>
    <div class="col-md-6 col-sm-12">
      <%= f.input :ends_at, required: false, input_html: {class: "timePicker-end"}, :label => false, :placeholder => 'to' %>
    </div>
  </div>

  <%= f.submit 'Search', class: "btn btn-primary btn-sm searchbtn" %>
<% end %>
